.details {
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin-top: 3rem;
    
    .item {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: inherit;

        
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            
            border-radius: 4px;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 4px;
                object-fit: cover;
            }
        }

        .info {
            text-align: center;
            padding: 5%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .title {
                font-size: 3.5em;
                font-weight: 300;
                color: var(--primary);
            }
            .author {
                font-size: 1.2em;
                color: #666;
            }
            .dimensions, .materials {
                font-family: 'Caudex';
                font-size: 1.2em;
                color: #888;
                letter-spacing: 0.05em;
                text-transform: lowercase;
            }
        }

        @media screen and (max-width: 799px) {
            flex-direction: column;

            .image {
                width: 100%;
            }

            .info {
                width: 100%;
                padding: 2rem;
            }
            
        }
    }
}