.dimensions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .label {
        width: 80%; 
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--input);
        
        span {
          color: var(--input);
          opacity: .6;
        }

        input[type="number"] {
            width: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
            color: var(--input);
            opacity: 1;
        }

        select {
            font-size: .8em;
            padding: .3rem;
            color: var(--primary);
            border: 1px solid #eee;
            border-radius: 2px;
        }
    }

    .recalculated-dimensions {
        margin-top: 1rem;

        .text {
            font-size: 0.7em;
            color: var(--primary);
        }
    }
}