.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    
    z-index: 100;


    .title {
        color: rgba(210,175,93, 0.8);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        text-shadow: 15px 8px 20px rgba(255, 255, 255, 0.4);

        margin-bottom: 3rem;
        margin-top: 15rem;

        font-size: clamp(1.5rem, 4vw, 7rem);

        @media screen and (max-width: 1024px) {
            font-size: 2em; /* Adjust font size for tablets */
        }

        @media screen and (max-width: 360px) {
            font-size: 1.2em; /* Smaller font size for mobile */
            letter-spacing: 0.2em; // Reduce letter spacing on small screens
        }
    }

    .subtitle {
        color: var(--secondary);
        letter-spacing: 0.0001em;
        margin-bottom: 2rem;
        font-size: clamp(0.6rem, 2vw, 1.4em);

        @media screen and (max-width: 500px) {
            letter-spacing: 0.002em;
        }
    }

    .link {
        padding: 1rem 2rem;
        margin-top: auto; /* Push to the bottom */
        margin-bottom: 15rem;
        border: 1px solid var(--primary);
        border-radius: var(--border-radius);
        
        color: #fff;
        background-color: var(--primary);
        text-decoration: none;

        transition: background-color 0.3s ease;
        font-size: clamp(0.9rem, 2vw, 1.3rem);
        font-weight: 600;
        
        text-align: center;
        display: block;

        &:hover {
            background-color: rgba(210,175,93, 1);
        }
    }

    @media screen and (max-width: 926px) {

        .title {
            margin-top: 10rem;
            font-size: clamp(1.2rem, 6vw, 2rem);
        }
        .subtitle {
            font-size: clamp(1rem, 6vw, 2rem);
        }
        .link {
            width: 55%;
        }
    }

    @media screen and (max-width: 568px) {
        .link {
            width: 85%;
        }

    }
}