.home {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // gap: 1rem;
    gap: 0;

    // display: flex;
    // flex-direction: column;
    // align-items: start;
    // justify-content: center;

    background-color: #fff;
    overflow-x: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 1023px) {
        // gap: 3rem; 
        // gap: 0;
    }

    @media screen and (max-width: 767px) {
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr); 
        gap: 0.5rem;
        padding: 0 0.5rem;
    }

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem; 
        padding: 0 1rem;
    }
}

.hero {
    grid-column: 1 / span 12;

    @media screen and (max-width: 767px) {
        grid-column: span 6; 
    }

    @media screen and (max-width: 500px) {
        grid-column: span 12; 
    }
}
.about {
    grid-column: 1 / -1;


    @media screen and (max-width: 500px) {
        grid-column: span 12; 
        padding: 1rem; 
    }
}