.materials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;

    .display {
        color: var(--primary);
        font-size: 0.8em;
        margin-top: 1rem;
    }
    
    .options {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5em;
        margin-top: 1rem;
        
        .label {
            font-family: system-ui, sans-serif;
            font-size: .6em;
            font-weight: 100;
            line-height: 1.1;
            color: var(--input);
    
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;
            padding: .5em;

            outline: 0;
            outline-offset: 0;

            .input {
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
                color: var(--input);
                border: 1px solid var(--primary);
                border-radius: 0.15em;
                padding: 0.5em;
                cursor: pointer;

                display: grid;
                place-content: center;

                &::before {
                    content: "";
                    width: 0.8em;
                    height: 0.8em;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    background-color: var(--primary);
                    
                    /* checkmark with clip-path */
                    transform-origin: center;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                }

                &:checked {
                    background-color: white;
                    border: 1px solid var(--primary);
                }

                &:checked::before {
                    transform: scale(1);
                    background-color: var(--primary);
                }

                &:focus {
                    border: 1px solid var(--primary);
                    box-shadow: inset 1em 1em white;
                    outline: max(2px, 0.15em) solid transparent;
                    outline-offset: max(1px, 0.15em);
                }

                &:disabled {
                    color: var(--hover);
                    cursor: not-allowed;
                }
            }
    
            .span {
                font-family: inherit;
                color: var(--input);
            }

            &:disabled {
                color: var(--hover);
                cursor: not-allowed;
            }
        }
    }

    .preview {
        font-size: 0.5em;
        color: var(--primary);
        margin-top: .5rem;
    }

    .reset {
        background-color: var(--primary);
        color: white;
        border: 1px solid var(--primary);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        width: 60%;
        margin: 0 auto;
    }
}