.mobile-hero {
    position: relative;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;

    aspect-ratio: 16/14; 
    min-height: 200px;
    max-height: 95vh;
    overflow: hidden;

    contain: layout;

    .slider-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding: 0;

        .slider-track {
            height: 100%;
            width: 400%;
            
            display: flex;

            transition: transform 0.5s ease-in-out;

            .slide {
                flex: 0 0 25%;
                scroll-snap-align: center;
                height: 100%;
                animation: auto 16s infinite;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;
                    transition: all 16s ease;
                }
            }
        }
    }

    @media screen and (orientation: portrait) {
        aspect-ratio: 16/14;
        min-height: 65vh;
    }
}

@keyframes auto {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    26% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    51% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    76% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}