.title {
        
    .input {
        width: 70%;
        margin-bottom: .5rem;
    }

    .error {
        font-size: x-small;
        color: red;
        padding-bottom: 0.5em;
    }

    .display {
        color: var(--primary);
        font-size: 0.8em;
    }
}