@use 'partials/variables' as *;
@use 'partials/lang-select' as *;
@use 'partials/footer' as *;
@use 'partials/error' as *;
@use 'partials/page' as *;
@use 'partials/form' as *;
@use 'partials/link' as *;
@use 'partials/button' as *;
@use 'partials/background' as *;
@use 'partials/app' as *;
@use 'partials/auth-page' as *;
@use 'partials/home' as *;
// @use 'partials/hero-overlay' as *;
@use 'partials/mobile-hero' as *;
@use 'partials/tablet-hero' as *;
@use 'partials/desktop-hero' as *;
@use 'partials/authors' as *;
@use 'partials/gallery' as *;
@use 'partials/list-item' as *;
@use 'partials/details' as *;
@use 'partials/admin-dashboard' as *;
@use 'partials/mini-gallery' as *;
@use 'partials/mini-item' as *;
@use 'partials/admin-create-edit' as *;
@use 'partials/title' as *;
// @use 'partials/author' as *;
@use 'partials/dimensions' as *;
@use 'partials/image' as *;
@use 'partials/materials' as *;


@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
* {
    margin: 0;
    padding: 0;
    // font-family: 'Cinzel Decorative', sans-serif;
    font-family: "Cinzel Decorative", "Klee One", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    // font-family: "Cinzel Decorative", "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    // font-family: "Cinzel Decorative", "PT Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    // font-family: "Cinzel Decorative", "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    // font-family: "Cinzel Decorative", "Rubik", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    
    @media (prefers-color-scheme: dark) {
        & {
          color: #fafafa;
        }
    }
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
  padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

a {
    text-decoration: none;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem; 

    border-radius: 2px;
}

@media screen and (max-width: 767px) and (min-width: 260px) {
  .footer {
    padding: 0;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
}